@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
.partnersSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #fff;
  text-align: center;
  margin-top: 263px;
  font-family: Michroma, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 51px;
  font-weight: 400;
  line-height: 1.2;
}

@media (width<=991px) {
  .title {
    margin-top: 40px;
    font-size: 40px;
  }
}

.backgroundImage5 {
  position: absolute;
  width: 1330px;
  height: 1330px;
  right: 300px;
  top: 3374px;
}

@media (width <= 991px) {
  .background {
    max-width: 100%;
  }
}

.partnersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 56px;
  margin-top: 40px;
}

.partnersLogo {
  width: 150px;
  height: auto;
  object-fit: contain;
}

@media (width<=991px) {
  .partnersLogo {
    margin-top: 20px;
  }
}
